<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30"  >
	<Properties>
		<Property name="baseDir">logs</Property>
		<Property name="filePatternDetailed">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1.} %l %X - %msg%n</Property>
		<Property name="filePattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %msg%n</Property>
	</Properties>
	<Appenders>
	
		<!--
			Console output for development purpose.
			Should not be used in production.
		-->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${filePattern}" />
		</Console>

		<RollingRandomAccessFile name="textFile"
			fileName="${baseDir}/application.log" filePattern="${baseDir}/application-%i.log"
			append="false">
			<PatternLayout pattern="${filePatternDetailed}" />
			<Policies>
				<OnStartupTriggeringPolicy minSize="45000000" />
				<SizeBasedTriggeringPolicy size="50MB" />
			</Policies>
			<DefaultRolloverStrategy max="4">
				<Delete basePath="${baseDir}" maxDepth="1">
					<IfFileName glob="*/application-*.log" />
					<IfLastModified age="60d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
        		
	</Appenders>
	<Loggers>
		
		<!-- 
		<Logger name="org.nd4j.imports.converters.DifferentialFunctionClassHolder" level="info" additivity="false" includeLocation="false">
			<AppenderRef ref="textFile" />
			<AppenderRef ref="Console" />
		</Logger>
		-->

		
		<!-- 
			All loggers should enable INFO level logs and above.
			Filter 3rd party loggers if they are too verbose.
		-->
		<asyncRoot level="info" includeLocation="false">

			<AppenderRef ref="Console" />

			<AppenderRef ref="textFile" />
		</asyncRoot>
	</Loggers>

</Configuration>